@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }

:root {
    --text-color: #ffffff;
    --head-color: #000000;
    --main-color: #080808d2;
    --foot-color: #00eeff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: var(--text-color);
    color: var(--main-color); 
    font-size: 20px;
    margin-top: 8%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header h1 {
    color: var(--text-color);
    margin-left: 50rem;
}

.header span{
    color: var(--foot-color);
}

.btn-box {
    width: 16rem;
    height: 4.2rem;
    margin-left: 32rem;
}

.btn-box .btn {
    position: relative;
    display: flex;
    background: var(--foot-color);
    box-shadow: 0 0 0.5rem #1083b1;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 100%;
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--head-color);
}

iframe {
    width: 20%;
    height: 30vh; 
    display: fixed;
    position: fixed;
    left: 77%;
    top: 58%;
    z-index: 1;
}

.home {
    display: flex;
    margin: 5rem;
    align-items: center;
}

.home img {
    width: 30%;
    height: 30vh;
}

.home h1 {
    float: right;
    margin-left: 2rem;
    color: var(--head-color);
}

.footer {
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    background: var(--head-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
  margin-left: 6rem;
  color: var(--text-color);
}

.footer-iconTop {
    position: relative;
    display: fixed;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.footer-iconTop a i {
    font-size: 3rem;
  margin-right: 6rem;
    color: var(--text-color);
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    iframe {
      width: 40%;
      left: 60%;
    }
  
    .header h1{
      margin-left: 18rem;
      margin-right: 0;
    }

    .btn-box {
      margin-left: 5rem;
      margin-right: 0;
    }

    .home {
      margin-top: 10rem;
    }

    .home img {
      width: 100%;
      height: 50vh;
    }

    .footer {
        height: 12vh;
    }
}

@media (max-width: 768px) {
    body {
      margin-top: 12rem;
    }

    iframe {
      width: 50%;
      left: 50%;
      top: 55%;
    }
  
    .header {
      background: var(--head-color);
      right: 0;
    }

    .header h1 {
      font-size: 26px;
      margin-left: 20%;
    }

    .btn-box {
      margin-left: 1.5rem;
    }

    .home {
        flex-direction: column;
    }

    .home img {
        width: 100%;
        height: 100%;
    }

    .home h1 {
        font-size: 24px;
        margin-top: 2rem;
    }

    .footer {
      display: flex;
        margin-top: 4rem;
      height: 12vh;
    }

    .footer-text p{
        left: 0;
        margin-bottom: 5%;
      margin-top: 7%;
    }

    .footer-iconTop {
        margin-bottom: 2rem;
      margin-right: 10%;
    }

    .footer-iconTop a i {
        position: absolute;
      
    }
}

@media (max-width: 520px) {
html {
    font-size: 50%;
}
  .header h1 {
    margin-left: 3rem;
  }

  .footer {
    height: 8vh;
  }
}

@media (max-width: 462px) {
    body {
        margin-top: 15rem;
        width: auto;
        height: auto;
    }

    .header h1{
      font-size: 20px;
      margin-right: 0;
    }

    iframe {
        height: auto;
        width: 45%;
        left: 54%;
        top: 60%;
    }

    .home {
        flex-direction: column;
    }

    .home img {
        width: 100%;
        height: 100%;
    }

    .home h1 {
        font-size: 24px;
        margin-top: 2rem;
    }

    .footer {
      display: flex;
      height: 10vh;
      bottom: 0;
    }

    .footer p {
        text-align: left;
    }

    .footer a i {
      margin-top: 0;
    }
}
