@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

:root {
    --text-color: #fff;
    --head-color: #000000;
    --main-color: #6e6b6bd2;
    --foot-color: #00eeff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
  display: relative;
    background: var(--main-color);
    color: var(--main-color); 
    font-size: 20px;
    margin-top: 8%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: var(--head-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header h1 {
    color: var(--text-color);
}

.header span{
    color: var(--foot-color);
}

.contact-img {
    width: 100%;
    display: flex;
  margin-top: 10rem;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    display: flex;
    width: 15%;
    top: 7%;
    align-items: center;
    border-radius: 50%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-left: 23%;
  
}

form {
  background: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: var(--head-color);
  font-weight: 800;
  margin-bottom: 20px;
}

form p {
  color: var(--head-color);
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}

form input, form textarea {
  border: 1px solid var(--head-color);
  margin: 10px 0;
  padding: 7px;
  outline: none;
  background: var(--text-color);
  font-size: 16px;
}

form button {
  padding: 10px;
  background: var(--head-color);
  color: var(--text-color);
  font-size: 18px;
  border: 0;
  outline: none;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  cursor: pointer;
}

.footer {
  margin-top: 2%;
  font-weight: 400;
  padding: 1.5rem;
  width: 100%;
  background: var(--head-color);
  text-align: center;
}

.footer-text p {
  font-size: 1.6rem;
  color: var(--text-color);
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
  .header {
    height: 10vh;
  }

  .header h1 {
    font-size: 65px;
  }

  .contact-img img {
    width: 45%;
    margin-left: 3rem;
    margin-top: 6rem;
  }

  .container {
    display: flex;
    margin-left: 0;
    justify-content: center;
  }

  form {
    height: 100%;
    max-width: 100%;
  }

  form h3 {
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
  }

  form p {
    margin-top: 3rem;
    font-size: 30px;
  }

  form input, form textarea {
    padding: 1rem;
    font-size: 30px;
    font-weight: 500;
  }
  
  form button {
    padding: 18px;
    font-size: 28px;
    border-radius: 50px;
    margin-bottom: 1.5rem;
  }

  .footer {
    height: 10vh;
  }

  .footer p {
    font-size: 28px;
    margin-top: 2%;
  }
}

@media (max-width: 768px) { 
  .header {
    height: 10vh;
  }

  .header h1 {
    font-size: 55px;
  }

  .contact-img img {
    width: 45%;
  }

  .container {
    display: flex;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  form {
    height: 100%;
  }

  form h3 {
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
  }

  form p {
    margin-top: 3rem;
    font-size: 30px;
  }

  form input, form textarea {
    padding: 1rem;
    font-size: 30px;
    font-weight: 500;
  }
  
   form button {
    padding: 18px;
    font-size: 28px;
    border-radius: 50px;
    margin-bottom: 1.5rem;
   }

  .footer {
    height: 8vh;
  }

  .footer p {
    font-size: 24px;
    margin-top: 1%;
  }
}

@media (max-width: 520px) {
  body{
    width: 100%; 
  }

  .header {
    width: 100%;
  }

  .header h1 {
    font-size: 30px;
  }

  .contact-img img {
    width: 47%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .container {
    display: flex;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  form {
    height: 100vh;
  }

  form h3 {
    font-size: 26px;
  }

  form p {
    margin-top: 2rem;
    font-size: 22px;
  }

  form input, form textarea{
    padding-left: 1rem;
    font-size: 22px;
    font-weight: 400;
  }

  form button {
    padding: 0.7rem;
    width: 23vw;
    margin-bottom: 2rem;
    font-size: 22px;
  }

  .footer {
    width: 100%;
    height: 10vh;
    text-align: center;
  }

  .footer p {
    font-size: 18px;
  }
}

@media (max-width: 462px) {
  .header {
    height: 13vh;
  }

  .header h1 {
    font-size: 34px;
    font-weight: 600;
    margin-right: 2rem;
  }

  .contact-img img{
    width: 45%;
    margin-top: 0;
  }

  .container {
    display: flex;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  form h3 {
    font-size: 20px;
  }

  form p {
    font-size: 18px;
  }

  form input, form textarea{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 16px;
    font-weight: 500;
  }

  form button {
    padding: 0;
    margin-bottom: 2rem;
  }

  .footer {
    width: 100%;
    height: 10vh;
    margin-top: 3rem;
  }

  .footer p {
    font-size: 16px;
    text-align: center;
    margin-top: -0.2rem;
  }
}
